
table { margin: 0 auto; border-collapse: collapse; }
td, th { padding: .3em; border: 2px #ccc solid; }
thead { background: #eee; }
tbody { background: #9cf; }
#highlight tr.hilight { background: #c9f; }


a
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #9B3F17;
}

/* Adds special style to an unvisited link. */
a:link
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: underline;
  color: #9B3F17;
}

/* Adds special style to a visited link. */
a:visited, a.visited
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  color: #655C4E;
}

/* :hover - adds special style to an element when you mouse over it. */
a:hover, a.hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  text-decoration: none;
  color: #CC531E;
}

/* Finish Content link style */

/* Resert some headings default style & links default style for links in headings*/
h1, h2, h3, h4, h5, h6,
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover
h1 a:visited, h2 a:visited, h3 a:visited, h4 a:visited, h5 a:visited, h6 a:visited
{
  font-weight: normal;
  font-style: normal;
  text-decoration: none;
}


/* Start Content headings Fonts & Colors  */
h1, h1 a, h1 a:link, h1 a:visited, h1 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 33px;
  color: #9B3F17;
}

h2, h2 a, h2 a:link, h2 a:visited, h2 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 31px;
  color: #CC531E;
}

h3, h3 a, h3 a:link, h3 a:visited, h3 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 20px;
  color: #655C4E;
}

h4, h4 a, h4 a:link, h4 a:visited, h4 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 18px;
  color: #4C3406;
}

h5, h5 a, h5 a:link, h5 a:visited, h5 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 15px;
  color: #4C3406;
}

h6, h6 a, h6 a:link, h6 a:visited, h6 a:hover
{
  font-family: Georgia, "Times New Roman", Times, Serif;
  font-size: 13px;
  color: #4C3406;
}
/* Finish Content headings Fonts & Colors  */
/* end PostContent */

/* begin PostBullets */
/* Start Content list */
ol, ul
{
	color: #484137;
	margin:1em 0 1em 2em;
	padding:0;
	font-family: Georgia, "Times New Roman", Times, Serif;
	font-size: 13px;
}

li ol, li ul
{
	margin:0.5em 0 0.5em 2em;
	padding:0;
}

li 
{
	margin:0.2em 0;
	padding:0;
}

ul
{
	list-style-type: none;
}

ol
{
	list-style-position:inside;
	
}



.art-Post li
{
	padding:0px 0 0px 13px;
	line-height:1.2em;
}

.art-Post ol li, .art-Post ul ol li
{
	background: none;
	padding-left:0;
}

.art-Post ul li, .art-Post ol ul li 
{
	background-image: url('images/PostBullets.png');
	background-repeat:no-repeat;
	padding-left:13px;
}


body{background:white;color:black;font:90% sans-serif;margin:0;}
body,html,#page{height:100%;padding:0}
#wraptop{height:20%;min-height:80px}

#top{height:28px;line-height:28px;padding:1px 5px 0 5px;border-bottom:1px solid #F5A9F2;';white-space:nowrap}
#top a,#top strong,#top span{margin:0 5px}
#top .act{font-weight:bold;color:black;text-decoration:none;cursor:default}
#top span a{margin-right:0}
#top .right{float:right;position:relative}
#top .left{float:left;height:100%}

#srch{text-align:center;margin:10 10 10px 0;white-space:nowrap;height:120px;min-height:100px}



#form{background-color: white; width: 600px; /* couleur de fond du tableau+taille */
border: 2px solid #24BBE8; /* bordure+couleur du tableau */
padding: 2px; /* espace entre la bordure et le texte */
text-align: center; /* texte centré */
font-family: Arial, Helvetica, sans-serif; /* style d'écriture */
margin:10px auto 0 auto;position:relative;margin-left:350px;
}
}

#res{margin:30px auto 0 auto;position:relative;margin-left:-10px;}
#res a h2{margin:90px auto 0 auto;position:relative;margin-left:120px;}

#tag
{
 width: 450px; /* couleur de fond du tableau+taille */
text-align: center; 
margin:30px auto 0 auto; margin-left:450px;
}






